@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ccc;
    /* background-image: url('https://source.unsplash.com/1600x900/?nature, winter'); */
}

body span {
    display: block;
}

.container {
    background: #000000d0;
    color: #fff;
    padding: 2em;
    border-radius: 28px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
}

.container .title {
    text-align: center;
    margin-bottom: 12px;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header input {
    padding: 12px;
    border-radius: 32px;
    border: none;
    outline: none;
    font-size: 20px;
}

.container .header .btn-search {
    margin: 8px;
    border-radius: 50%;
    border: none;
    width: 48px;
    height: 48px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.container .header .btn-search:hover {
    opacity: 0.8;
}

.weather .city {
    margin: 12px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 20px;
}

.footer .footer-contact {
    margin-right: 16px;
    user-select: none;
}

.footer .footer-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.footer .footer-contact a:hover {
    opacity: 0.8;
}

.footer .footer-contact a .git {
    margin-right: 10px;
}

.image {
    display: none;
    justify-content: center;
    align-items: center;
}

.img-404 {
    width: 200px;
}

@media screen and (max-width: 390px) {
    :root {
        --width-btn: 50px;
    }

    .container .header input {
        width: calc(100% - var(--width-btn));
    }

    .container .header .btn-search {
        width: var(--width-btn);
        height: 48px;
    }
}
